h1 {text-align: center;
font-family: 'Ubuntu', sans-serif;}
ol{padding:10px;
  margin:25px;
}
.ubuntu-font {font-family: 'Ubuntu', sans-serif;
color:#3ab796;}
form{padding: 10px;
margin: 10px;
font-family: 'Ubuntu', sans-serif;
font-size: 18px;}
input {font-family: 'Ubuntu', sans-serif;;
font-size: 25px}



